.wrapper {
  .contentWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;

    .imagesWrapper {
      flex-shrink: 0;
    }

    .infoWrapper {
      width: 100%;
      flex-grow: 1;

      & > * {
        margin: 15px 0;
      }

      .shortDescription {
        color: $tertiary-main;
      }

      .ctas {
        display: flex;
        gap: 20px;
      }

      .stats {
        margin: 30px 0;
      }

      .longDescription {
        width: 100%;
        margin: 40px 0;

        .content {
          color: $tertiary-main;
        }

        .readMore {
          color: $secondary;
          cursor: pointer;
          margin: 10px 0;
        }
      }

      .featuresList {
        display: grid;
        // Responsive grid with 4 columns in full width
        grid-template-columns: repeat(
          auto-fill,
          minmax(min(140px, 100%), 150px)
        );
        grid-gap: 30px;

        .featureItem {
          width: 100%;
          text-align: center;

          .icon {
            width: 100px;
            height: 100px;
            margin: 10px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $secondary-light;
            color: $secondary;

            svg {
              font-size: 45px;
            }
          }

          span {
            color: $tertiary-main;
          }
        }
      }
    }
  }

  .bottomWrapper {
  }
}
