.mid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;

  .contentWrapper {
    flex-grow: 1;

    & > *:not(:first-of-type) {
      margin-top: 25px;
    }
  }
}
